WebArrCalc/Connected Services/ServiceReference1/CalcController.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58272/CalcController.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArrayCalc" />
  <xs:element name="Mean">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MeanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ArrayCalc" minOccurs="0" name="MeanResult" nillable="true" type="q1:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ArrayCalc" minOccurs="0" name="SumResult" nillable="true" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Mul">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MulResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ArrayCalc" minOccurs="0" name="MulResult" nillable="true" type="q3:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>