WebArrCalc/Connected Services/ServiceReference1/CalcController.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalcController" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58272/CalcController.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58272/CalcController.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58272/CalcController.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArrayCalc" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalcController_Mean_InputMessage">
    <wsdl:part name="parameters" element="tns:Mean" />
  </wsdl:message>
  <wsdl:message name="ICalcController_Mean_OutputMessage">
    <wsdl:part name="parameters" element="tns:MeanResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcController_Sum_InputMessage">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="ICalcController_Sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:message name="ICalcController_Mul_InputMessage">
    <wsdl:part name="parameters" element="tns:Mul" />
  </wsdl:message>
  <wsdl:message name="ICalcController_Mul_OutputMessage">
    <wsdl:part name="parameters" element="tns:MulResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalcController">
    <wsdl:operation name="Mean">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcController/Mean" message="tns:ICalcController_Mean_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcController/MeanResponse" message="tns:ICalcController_Mean_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcController/Sum" message="tns:ICalcController_Sum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcController/SumResponse" message="tns:ICalcController_Sum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Mul">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalcController/Mul" message="tns:ICalcController_Mul_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalcController/MulResponse" message="tns:ICalcController_Mul_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalcController" type="tns:ICalcController">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Mean">
      <soap:operation soapAction="http://tempuri.org/ICalcController/Mean" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/ICalcController/Sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Mul">
      <soap:operation soapAction="http://tempuri.org/ICalcController/Mul" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalcController">
    <wsdl:port name="BasicHttpBinding_ICalcController" binding="tns:BasicHttpBinding_ICalcController">
      <soap:address location="http://localhost:58272/CalcController.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>